.timeslot {
    background-color: #cdb197;
    color: #000000;
    margin: 0.01% auto;
    border: none;
    text-align: center;
    width: 11%;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
  }


.welcome {
    color: white;
    text-align: center;
  }