.image {
    position: absolute;
    width: 50.2%;
    left: 24.9%;
    top: 7.1%;
}

.succes {
    position: absolute;
    width: 70%;
    height: 35px;
    left: 15%;
    top: 31.6%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.workplaces {
    position: absolute;
    width: 31.6%;
    height: 28px;
    left: 4.6%;
    top: 44.8%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.workplace-name {
    position: absolute;
    width: 65%;
    height: 28px;
    left: 4.6%;
    top: 47.9%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.from {
    position: absolute;
    width: 15%;
    height: 28px;
    left: 4.6%;
    top: 57.1%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.start-date {
    position: absolute;
    width: 37.4%;
    height: 28px;
    left: 4.6%;
    top: 60.3%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.till {
    position: absolute;
    width: 9.1%;
    height: 28px;
    left: 4.6%;
    top: 66.4%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.end-date {
    position: absolute;
    width: 31.4%;
    height: 28px;
    left: 4.6%;
    top: 69.5%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.noti {
    position: absolute;
    width: 68.4%;
    height: 28px;
    left: 15.7%;
    top: 89.2%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}




