body {
  background-color: #1c1c20;
}

.align-center {
  text-align: center;
}

.choose-group {
  color: #ffffff;
  font-size: 25px;
  margin: -15px 150px 0px 0px;
}

//BUTTONS-------------------------------------------------------------------------------------------
.chpbutton {
  background-color: #cdb197;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 18px;
  padding: 13px 10px;
  text-decoration: none;
}
.chpbutton:hover {
  background-color: #ffffff;
}
.chpbutton:active {
  position: relative;
  top: 0px;
}

#chgroup-button {
  margin: 35px 0px 0px -190px;
  display: inline-block;
}

#savegroup-button {
  margin: -30px 0px 0px 190px;
}

#back-button {
  margin: 125px 0px 0px 0px;
  padding: 13px 27px;
}

#continue-button {
  margin: 0px 0px 0px 130px;
}

//BUTTONS-------------------------------------------------------------------------------------------

//Algemene styling input
.inputveld {
  background-color: #cdb197;
  border-radius: 8px;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 18px;
  padding: 10px 10px;
  text-decoration: none;
  margin: 0px 40px 20px 0px;
}

.inputvelden {
  margin: 10px 90px 50px 0px;
}

// NGTI Logo
.ngti-logo {
  width: 150px;
  margin: -95px -190px 0px 0px;
  display: inline-block;
  text-align: center;
}
