///////////////////////////////////////////
// Algemeen
///////////////////////////////////////////
body {
  background-color: #1c1c20;
}

.home-text {
  color: #ffffff;
  text-align: center;
}

// Algemeen Buttons
.home-button {
  background-color: #cdb197;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  text-decoration: none;
}
.home-button:hover {
  background-color: #ffffff;
}
.home-button:active {
  position: relative;
  top: 0px;
}


///////////////////////////////////////////
// Iphone 5/SE
///////////////////////////////////////////
@media only screen and (min-width: 0px){
  .home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 6%;
  }

  //Buttons
  .home-button {
    border-radius: 7px;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 8px 8px;
    text-align: center;
    width: 140px;
  }

  .home-center-buttons{
    text-align: center;
  }

  #home-logoutbtn{
    margin-right: 30%;
    margin-top: 10px;
    display: inline;
    width: 70px;
  }

  #home-adminbtn{
    display: inline;
    width: 70px;
  }
}

///////////////////////////////////////////
// Iphone 6/7/8
///////////////////////////////////////////
@media only screen and (min-width: 374px){
  .home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 3%;
    max-width: 350px;
  }
  // Text
  #home-h2{
    font-size: 25px;
  }

  #home-p{
    font-size: 20px;
  }

  //Buttons
  .home-button {
    border-radius: 7px;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 9px 10px;
    text-align: center;
    width: 180px;
  }

  .home-center-buttons{
    text-align: center;
  }

  #home-logoutbtn{
    font-size: 16px;
    margin-right: 45%;
    margin-top: 30px;
    display: inline;
    width: 70px;
  }

  #home-adminbtn{
    font-size: 16px;
    display: inline;
    width: 70px;
  }
}

///////////////////////////////////////////
// Iphone X
///////////////////////////////////////////
@media only screen and (max-width: 375px) and (min-width: 374px) and (max-height: 812px) and (min-height: 811px){
  .home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 6%;
  }
  // Text
  #home-h2{
    font-size: 25px;
  }

  #home-p{
    font-size: 20px;
  }

  //Buttons
  .home-button {
    border-radius: 7px;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px 10px;
    text-align: center;
    width: 190px;
  }

  .home-center-buttons{
    text-align: center;
  }

  #home-logoutbtn{
    font-size: 18px;
    margin-right: 35%;
    margin-top: 30px;
    display: inline;
    width: 100px;
  }

  #home-adminbtn{
    font-size: 18px;
    display: inline;
    width: 100px;
  }
}

///////////////////////////////////////////
// Mobile 600px
///////////////////////////////////////////
@media only screen and (min-width: 600px){
  #home-logoutbtn{
    font-size: 18px;
    margin-right: 35%;
    margin-top: 30px;
    display: inline;
    width: 110px;
  }

  #home-adminbtn{
    font-size: 18px;
    display: inline;
    width: 110px;
  }
}

///////////////////////////////////////////
// Ipad
///////////////////////////////////////////
@media only screen and (min-width: 768px){
  .home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 3%;
    max-width: 400px;
  }
  // Text
  #home-h2{
    font-size: 35px;
  }

  #home-p{
    font-size: 30px;
  }

  //Buttons
  .home-button {
    border-radius: 7px;
    display: block;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 17px;
    padding: 12px 10px;
    text-align: center;
    width: 220px;
  }

  .home-center-buttons{
    text-align: center;
  }

  #home-logoutbtn{
    font-size: 20px;
    margin-right: 45%;
    margin-top: 60px;
    display: inline;
    width: 150px;
  }

  #home-adminbtn{
    font-size: 20px;
    display: inline;
    width: 150px;
  }
}

///////////////////////////////////////////
// Desktop 1200px
///////////////////////////////////////////
@media only screen and (min-width: 1200px){
  .home-logo {
    position: absolute;
    left: 35%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 400px;
  }

  .home-absolute{
    position: absolute;
    top: 20%;
    left: 50%;
  }

  // Text
  #home-h2{
    top: 50%;
    font-size: 35px;
  }

  #home-p{
    font-size: 30px;
  }

  //Buttons
  .home-button {
    border-radius: 7px;
    display: block;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 17px;
    padding: 12px 10px;
    text-align: center;
    width: 220px;
  }

  .home-center-buttons{
    text-align: center;
  }

  #home-logoutbtn{
    font-size: 20px;
    margin-top: 60px;
    display: inline;
    width: 100px;
  }

  #home-adminbtn{
    font-size: 20px;
    display: inline;
    width: 100px;
  }
}