#backButton {
  background-color: #cdb197;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 95%;
  left: 15%; //change accordingly or even not necessary to define
  transform: translate(-50%, -50%);
  width: 22%;
  height: 5%;
  font-size: 3vh;
  max-width: 100px;
}
#backButton:hover{
  background-color: #ffffff;
}

#deleteButton {
  background-color: #cdb197;
  border-radius: 10px;
  border: none;
  width: auto;
  height: auto;
  font-size: 3vh;
}
#deleteButton:hover {
  background-color: #ffffff;
}

#reservations {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 1vw;
  background-color: #35353b;
  color: #c4c4c4;
}

td,
th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 1vw;
}
#reservations tr:nth-child(even) {
  background-color: #4a4a50;
}
