.topText {
  text-align: center;
  height: 5%;
  width: auto;
  color: white;
}

.button {
  background-color: #cdb197;
  border-radius: 10px;
  border: none;

  @media screen and (min-aspect-ratio: 5/20) and (max-aspect-ratio: 10/16) {
    display: block;
    margin: auto;
    width: 55%;
    margin-top: 10%;
    font-size: 4vw;
  }
  @media screen and (min-aspect-ratio: 10/16) and (max-aspect-ratio: 1/1) {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 40%;
    font-size: 3vw;
  }
}

#bookingX {
  background-color: #cdb197;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 17%;
  left: 50%; //change accordingly or even not necessary to define
  transform: translate(-50%, -50%);
  width: 45%;
  height: 8%;
  font-size: 3vh;
}

#bookingY {
  background-color: #cdb197;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 27%;
  left: 50%; //change accordingly or even not necessary to define
  transform: translate(-50%, -50%);
  width: 45%;
  height: 8%;
  font-size: 3vh;
}
#bookingZ {
  background-color: #cdb197;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 37%;
  left: 50%; //change accordingly or even not necessary to define
  transform: translate(-50%, -50%);
  width: 45%;
  height: 8%;
  font-size: 3vh;
}

#backButton {
  background-color: #cdb197;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 95%;
  left: 15%; //change accordingly or even not necessary to define
  transform: translate(-50%, -50%);
  width: 22%;
  height: 5%;
  font-size: 3vh;
}
