///////////////////////////////////////////
// Algemeen
///////////////////////////////////////////
.choose-solo-text {
  color: #ffffff;
  text-align: center;
}

.choose-solo-button {
  background-color: #cdb197;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  text-decoration: none;
}
.choose-solo-button:hover {
  background-color: #ffffff;
}
.choose-solo-button:active {
  position: relative;
  top: 0px;
}

.main {
  @media screen and (min-aspect-ratio: 1/1) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(
      -50%,
      -50%
    ); //change accordingly or even not necessary to define
    height: 100%;
    width: 100%;
    max-width: 1200px;
    max-height: 1000px;
  }
}


///////////////////////////////////////////
// Iphone 5/SE
///////////////////////////////////////////
@media only screen and (min-width: 0px){
  //Buttons
  .choose-solo-button {
    border-radius: 7px;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 8px 8px;
    text-align: center;
    width: 140px;
  }

  .choose-solo-center-buttons{
    text-align: center;
  }

  #choose-solo-back-btn{
    margin-right: 30%;
    margin-top: 10px;
    display: inline;
    width: 70px;
  }

  #choose-solo-submit-btn{
    display: inline;
    width: 70px;
  }

  .DateRangePickerInput{
    border-radius: 10px;
    overflow: hidden; 
    text-decoration: none;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

///////////////////////////////////////////
// Iphone 6/7/8
///////////////////////////////////////////
@media only screen and (min-width: 374px){
  .choose-solo-button {
    border-radius: 7px;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 8px 8px;
    text-align: center;
    width: 140px;
  }

  .choose-solo-text {
    font-size: 18px;
  }

  .choose-solo-center-buttons{
    text-align: center;
  }

  #choose-solo-back-btn{
    font-size: 16px;
    margin-right: 45%;
    margin-top: 10px;
    display: inline;
    width: 80px;
  }

  #choose-solo-submit-btn{
    font-size: 16px;
    display: inline;
    width: 80px;
  }

  .DateRangePickerInput{
    border-radius: 10px;
    overflow: hidden; 
    text-decoration: none;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 100%;
  }
}

///////////////////////////////////////////
// Mobile 600px
///////////////////////////////////////////
@media only screen and (min-width: 600px){
  .choose-solo-text {
    font-size: 22px;
  }

  .choose-solo-center-buttons{
    text-align: center;
  }

  #choose-solo-back-btn{
    font-size: 16px;
    margin-right: 50%;
    margin-top: 10px;
    display: inline;
    width: 90px;
  }

  #choose-solo-submit-btn{
    font-size: 16px;
    display: inline;
    width: 90px;
  }

  .DateRangePickerInput{
    border-radius: 10px;
    overflow: hidden; 
    text-decoration: none;
    display: block;
    margin-left: 45%;
    margin-right: auto;
    width: 100%;
  }
}

///////////////////////////////////////////
// Ipad
///////////////////////////////////////////
@media only screen and (min-width: 768px){
  .choose-solo-button {
    border-radius: 7px;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 8px 8px;
    text-align: center;
    width: 200px;
  }

  .choose-solo-text {
    font-size: 25px;
  }

  .choose-solo-center-buttons{
    text-align: center;
  }

  #choose-solo-back-btn{
    font-size: 20px;
    margin-right: 55%;
    margin-top: 10px;
    display: inline;
    width: 100px;
  }

  #choose-solo-submit-btn{
    font-size: 16px;
    display: inline;
    width: 100px;
  }

  .DateRangePickerInput{
    border-radius: 10px;
    overflow: hidden; 
    text-decoration: none;
    display: block;
    margin-left: 75%;
    margin-right: auto;
    width: 100%;
  }
}

///////////////////////////////////////////
// Desktop 1200px
///////////////////////////////////////////
@media only screen and (min-width: 1100px){
  .choose-solo-button {
    border-radius: 7px;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 8px 8px;
    text-align: center;
    width: 200px;
  }

  .choose-solo-text {
    font-size: 25px;
  }

  .choose-solo-center-buttons{
    text-align: center;
  }

  #choose-solo-back-btn{
    font-size: 20px;
    margin-right: 55%;
    margin-top: 10px;
    display: inline;
    width: 100px;
  }

  #choose-solo-submit-btn{
    font-size: 16px;
    display: inline;
    width: 100px;
  }

  .DateRangePickerInput{
    border-radius: 10px;
    overflow: hidden; 
    text-decoration: none;
    display: block;
    margin-left: 160%;
    margin-right: auto;
    width: 100%;
    padding: 0.4% 3%;
  }
}

/*
@media screen and (min-aspect-ratio: 5/2) {
  .main {
    position: relative;
        width: 100%;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
  }
}
*/