body {
    background-color: #1C1C20;
}


.welcome {
    color: white;
    text-align: center;
    
}

.buttons {
    background-color: #cdb197;
    color: #000000;
    margin: auto;
    border: none;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.dateButtons{
    background-color: #cdb197;
    color: #000000;
    margin: auto;
    border: none;
    text-align: center;
    width: 350px;
    border-radius: 10px;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
}


.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.timeslot {
    background-color: #cdb197;
    color: #000000;
    margin: 8px auto;
    border: none;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
}


.timeslot:hover {
    color: white;
}


.buttons:hover {
    color: white;
}

.submitBtn {
    background-color: #cdb197;
    color: #000000;
    position: fixed;
    bottom: 25px;
    width: 5%;
    height: 3%;
    right: 5%;
    border-radius: 5px;
    padding: 2px 7px;
    text-decoration: none;
    display: block;
    font-size: 10px;
    font-weight: bold;

}

.backBtn {
    background-color: #cdb197;
    color: #000000;
    position: fixed;
    bottom: 25px;
    width: 5%;
    height: 3%;
    left: 5%;
    border-radius: 5px;
    padding: 2px 7px;
    text-decoration: none;
    display: block;
    font-size: 10px;
    font-weight: bold;

}

.dateBtn {
    background-color: #cdb197;
    color: #000000;
    margin: auto;
    border: none;
    text-align: center;
    width: 300px;
    border-radius: 11px;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
}