.ngti-map {
    .mapImg {
        position: absolute;
        width: 80%;
        margin: 0 auto;
    }

    .zone-to-reserve {
        position: absolute;
        margin-top: 130px;
        margin-left: 50px;
        width: 100px;
        height: 100px;
        background-color: green;
    }
}