.title {
    width: 100%;
    margin-top: 50vh;
    text-align: center;
    color: white;
    font-size: 5vh;
    background-color: black;
}

.sign-in-sign-out-block {
    margin: 0 40%;

    .user {
        width: 250px;
        padding: 5px;
        color: white;
        text-align: left;

        .text {
            display: inline-block;
            position: fixed;
            margin: 5px 0 10px 10px;
        }

        .avatar {
            width: 20%;
            border-radius: 50%;
            border: 2px solid white;
        }

        &:hover {
            cursor: pointer;
        }
    }   
}